h1 {background-color: rgb(110, 131, 131); width: 100%;
font-family: Arial, Helvetica, sans-serif;}
img {width: 20%;float: left;}
p {max-width: 100%; font-size: x-large; font-family: Arial, Helvetica, sans-serif;}
h2{clear: both; background-color: darkslategray;}
body {font-family: Arial, Helvetica, sans-serif;}
